@model CinemaApp.BL.DTOs.MovieDTOs.Genre.GenreDto

<h2>Genre delete</h2>

<p>Are you sure you want to delete this genre?</p>
<div>
    <h4>@Model.GenreName - @Model.GenreId ID</h4>
    <form asp-action="Delete" asp-route-id="@Model.GenreId" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>

</div>