@model IEnumerable<CinemaApp.BL.DTOs.MovieDTOs.Genre.GenreDto>

<h2>Genre list</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Genre Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.GenreId</td>
                <td>@genre.GenreName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@genre.GenreId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@genre.GenreId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add new genre</a>