@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@ViewData["Greeting"]</h1>

    <a asp-controller="Movie" asp-action="Index" class="btn btn-primary">Go to Movies</a>
    
    <a asp-controller="Genre" asp-action="Index" class="btn btn-primary">Go to Genres</a>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
