@model CinemaApp.BL.DTOs.MovieDTOs.Movie.MovieUpdateDTO

<h2>Редагувати фільм</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenreID" class="control-label"></label>
        <input asp-for="GenreID" class="form-control" />
        <span asp-validation-for="GenreID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration" class="control-label"></label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate" class="control-label"></label>
        <input asp-for="ReleaseDate" class="form-control" type="date" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating" class="control-label"></label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AgeLimit" class="control-label"></label>
        <input asp-for="AgeLimit" class="form-control" />
        <span asp-validation-for="AgeLimit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PosterURL" class="control-label"></label>
        <input asp-for="PosterURL" class="form-control" />
        <span asp-validation-for="PosterURL" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TrailerURL" class="control-label"></label>
        <input asp-for="TrailerURL" class="form-control" />
        <span asp-validation-for="TrailerURL" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
    </div>

   @*  <div class="form-group">
        <label>Акторський склад</label>
        <select multiple class="form-control" asp-for="CrewmateIDs">
            @foreach (var crewmate in ViewBag.Crewmates)
            {
                <option value="@crewmate.CrewmateID">@crewmate.FullName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
    </div> *@
</form>